:root {
        --base-font-color: rgb(131,148,150);
        --secondary-font-color: rgb(88,110,117);
        --emphasised-font: rgb(147,161,161);

        --c-background-color: rgb(0, 43, 54);
        --c-background-highlights: rgb(7, 54, 66);

        --c-yellow: rgb(181,137,  0);
        --c-orange: rgb(203, 75, 22);
        --c-red: rgb(220, 50, 47);
        --c-magenta: rgb(211, 54,130);
        --c-violet: rgb(108,113,196);
        --c-blue: rgb(38,139,210);
        --c-cyan: rgb(42,161,152);
        --c-green: rgb(133,153,0);
      }

      /* ===== Stage 1: base colours & layout ===== */

      body {
        background-color: var(--c-background-color);
        color: var(--base-font-color);
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.4;
      }

      header,
      footer {
        background-color: var(--c-background-highlights);
        color: var(--base-font-color);
      }

      header {
        text-align: center;
        padding: 12px 0;
      }

      /* ===== Stage 2: header, nav, and link styling ===== */

      /* Header heading colour & size */
      header h1 {
        color: var(--c-yellow);
        font-size: 150%;
        margin: 0;
      }

      nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 12px 0 20px 0;
        width: 100%;
      }

      nav li a {
        text-align: center;
        display: inline-block;
        padding: 6px 8px;
      }

      article a {
        color: var(--c-magenta);
        text-decoration: underline;
      }

      article a:hover {
        color: var(--c-orange);
      } 

      /* ===== Stage 3: subsection borders, aside styling, and layout ===== */

      article h3 {
        border: 3px solid var(--c-cyan);
        padding: 10%;
        margin: 20px 0 0 0;
      }
      
      article h3 + p {
        border: 3pmx solid var(--c-cyan);
        border-top: none;
        padding: 10px;
        margin: 0;
      }

        article h3 + p + p {
        border: 3px solid var(--c-cyan);
        border-top: none;
        padding: 10px;
        margin: 0 0 20px 0;
      }

      article h2,
      article h3 {
        padding-top: 50px;
      }
      
      aside {
        color: var(--c-green);
      }
      
      aside a {
        color: var(--c-red);
      }
      
      aside a:hover {
        color: var(--c-blue);
      }

      main {
        display: grid;
        grid-template-columns: 1fr 260px;
        gap: 20px;
      }

      aside {
        grid-column: 2;
      }

      article {
        grid-column: 1;
      }